<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <span class="glyphicon glyphicon-home"></span>
  <a class="navbar-brand" href="#">   
     Apps Market
  </a>
  <ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Services Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Why Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Our Goals</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Our Goals</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Our Portfolio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Our Client</a>
  </li>
</ul>
  <span class="badge badge-light contact-us">Contact Us</span>
</nav>